<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>

<div class="admin-wrapper">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h4>Admin</h4>
        <ul>
            <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('admin.products') }}">Products</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Orders</a></li>
        </ul>
    </aside>

    <!-- Main Content -->
    <main class="content">
        {% include "partials/messages.html" %}
        {% block content %}{% endblock %}
    </main>

</div>

<script src="{{ url_for('static', filename='admin/js/admin.js') }}"></script>
</body>
</html>
