# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environment
venv/
env/
.venv/

# Flask
instance/
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp

# Documentation
structure.md
admin_design.md
admin_ui.md