<footer id="footer" class="overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="footer-top-area">
            <div class="row d-flex flex-wrap justify-content-between">
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu">
                  <img src="{{ url_for('static', filename='images/main-logo.png') }}" alt="logo">
                  <p>We build custom software applications and automation systems that help individuals and businesses work smarter, faster, and more efficiently. Our services include web application development, workflow automation, AI-powered solutions, and technical consulting focused on solving real operational problems.</p>
                  <div class="social-links">
                    <ul class="d-flex list-unstyled">
                      <li>
                        <a href="https://web.facebook.com/profile.php?viewas=&id=61579132953027&show_switched_toast=false&show_switched_tooltip=false&is_tour_dismissed=false&is_tour_completed=false&show_podcast_settings=false&show_community_review_changes=false&should_open_composer=false&badge_type=NEW_MEMBER&show_community_rollback_toast=false&show_community_rollback=false&show_follower_visibility_disclosure=false&bypass_exit_warning=true">
                          <svg class="facebook">
                            <use xlink:href="#facebook" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/jaybalo_prod">
                          <svg class="instagram">
                            <use xlink:href="#instagram" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="twitter">
                            <use xlink:href="#twitter" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/in/olayemi-balogun-a07a12176">
                          <svg class="linkedin">
                            <use xlink:href="#linkedin" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="youtube">
                            <use xlink:href="#youtube" />
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6 pb-3">
                <div class="footer-menu text-uppercase">
                  <h5 class="widget-title pb-2">Quick Links</h5>
                  <ul class="menu-list list-unstyled text-uppercase">
                    <li class="menu-item pb-2">
                      <a href="{{ url_for('web.home') }}">Home</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="{{ url_for('web.about') }}">About</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="{{ url_for('web.shop') }}">Shop</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="{{ url_for('web.blog') }}">Blogs</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="{{ url_for('web.contact') }}">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu text-uppercase">
                  <h5 class="widget-title pb-2">Help & Info Help</h5>
                  <ul class="menu-list list-unstyled">
                    <li class="menu-item pb-2">
                      <a href="#">Track Your Order</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="#">Returns Policies</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="#">Shipping + Delivery</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="#">Contact Us</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="#">Faqs</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu contact-item">
                  <h5 class="widget-title text-uppercase pb-2">Contact Us</h5>
                  <p>Do you have any queries or suggestions? <a href="mailto:">yemibalogun2006@gmail.com</a>
                  </p>
                  <p>If you need support? Just give us a call. 
                    <a href="https://wa.me/2349137636183" target="_blank" rel="noopener">
                      +234 9137 636 183
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </footer>
    <div id="footer-bottom">
      <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
          <div class="col-md-4 col-sm-6">
            <div class="Shipping d-flex">
              <p>We ship with:</p>
              <div class="card-wrap ps-2">
                <img src="{{ url_for('static', filename='images/dhl.png') }}" alt="visa">
                <img src="{{ url_for('static', filename='images/shippingcard.png') }}" alt="mastercard">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="payment-method d-flex">
              <p>Payment options:</p>
              <div class="card-wrap ps-2">
                <img src="{{ url_for('static', filename='images/visa.jpg') }}" alt="visa">
                <img src="{{ url_for('static', filename='images/mastercard.jpg') }}" alt="mastercard">
                <img src="{{ url_for('static', filename='images/paypal.jpg') }}" alt="paypal">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="copyright">
              <p>© Copyright {{ current_year }} JayBalo. Design by <a href="https://jaybalo.com/">YemiBalogun</a> 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>