{% extends "admin/layouts/base.html" %}

{% block content %}
<h2>Create Blog</h2>

<form method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="mb-3">
    {{ form.title.label }}
    {{ form.title(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ form.content.label }}
    {{ form.content(class="form-control", rows=6) }}
  </div>

  <div class="mb-3">
    {{ form.image.label }}
    {{ form.image(class="form-control") }}
  </div>

  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
